<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yadagame.yadl" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/activity"
        android:label="@string/app_name"
        android:theme="@style/YadlTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ButtonActivity"
            android:label="@string/title_activity_button"
            android:theme="@style/YadlTheme">
        </activity>

        <service android:name=".ActivityWindow" />
    </application>



</manifest>
